.d-flex{
  padding-left:75%;
}

.main{
  width: 80%;
  margin-top: 40px;
  margin-left: 10%;
  padding-top: 80px;
  padding-bottom: 50px;
  background-image: url(./image/backgroundImg.jpg);
}

.col{
  padding: 20px 2px;
}
.col img{
  width: 100%;
}
.col p{
  padding: 15px 0 25px;
}















